#
# Template for generation of custom-repository.properties.
# Contains default database connection parameters and the
# dir.root will be added by ant.
#
db.username=alfresco
db.password=alfresco
db.driver=org.gjt.mm.mysql.Driver
db.url=jdbc:mysql://localhost/alfresco_test
